<footer class="footer">
  <div class="footer-inner">
    <hr class="footer-divider" />

    <div class="footer-content">
      <!-- Logo -->
      <div class="footer-logo">
        <img src="assets/pitlane.svg" alt="Pitlane Logo" />
      </div>

      <!-- Contact Info -->
      <section class="footer-section contact-info">
        <div class="info-row">
          <span class="label text-primary">{{ 'address' | translate }}</span>
          <a [href]="'https://www.google.com/maps/search/?api=1&query=' + encodeURIComponent(address())" target="_blank" rel="noopener noreferrer" class="value text-white">{{ address() }}</a>
        </div>
        <div class="info-row">
          <span class="label text-primary">{{ 'phone' | translate }}</span>
          <a class="value text-white" [href]="'tel:' + phone()">{{ phone() }}</a>
        </div>
        <div class="info-row">
          <span class="label text-primary">{{ 'email' | translate }}</span>
          <a class="value text-white" [href]="'mailto:' + email()">{{ email() }}</a>
        </div>
      </section>

      <!-- Working Hours -->
      <section class="footer-section working-hours">
        <div class="hours-label text-primary">{{ 'working_hours' | translate }}</div>
        @if (workingHours()?.mon_fri) {
          <div>
            <span>{{ 'monday-friday' | translate }}: </span>
            <span>{{ workingHours()?.mon_fri?.hours }}</span>
          </div>
        }
        @if (workingHours()?.sat) {
          <div>
            <span>{{ 'sat' | translate }}: </span>
            <span>{{ workingHours()?.sat?.hours }}</span>
          </div>
        }
        @if (workingHours()?.sun) {
          <div>
            <span>{{ 'sun' | translate }}: </span>
            <span>{{ workingHours()?.sun?.hours }}</span>
          </div>
        }
      </section>
<!-- Todo: Add social links when available -->
      <!-- Social Links -->
<!--      <section class="footer-section social-links">-->
<!--        <a href="#">Facebook</a>-->
<!--        <a href="#">Instagram</a>-->
<!--        <a href="#">VK</a>-->
<!--        <a href="#">Telegram</a>-->
<!--        <a href="#">Whatsapp</a>-->
<!--        <a href="#">Youtube</a>-->
<!--      </section>-->
    </div>
  </div>
</footer>
