.section-container {
  max-width: 1280px;
  @media only screen and (max-width: 991px) {
    padding: 80px 0;
  }
  @media only screen and (max-width: 767px) {
    padding: 60px 0;
  }
  @media only screen and (max-width: 575px) {
    padding: 40px 0;
  }
  padding: 174px 0;
  position: relative;
}

.contact-form-wrapper {
  @media only screen and (max-width: 767px) {
    padding: 32px 12px 12px 12px;
  }
  padding: 88px 32px 32px 32px;
  background-image: radial-gradient(
      82.95% 35.21% at 77.88% 98.92%,
      rgba(115, 89, 58, 0.12) 23.77%,
      rgba(90, 79, 65, 0) 80.53%
    ),
    radial-gradient(
      76.32% 33.64% at 47.78% 4.3%,
      rgba(63, 67, 98, 0.2) 15.23%,
      rgba(63, 67, 98, 0) 80.53%
    );
  background-color: rgb(11 12 14);
  position: relative;
  z-index: 1;
  label {
    font-size: 13px;
  }
  .top-head-icon {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: #5e638c;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      background-color: #11141c;
      border-radius: 14px;
      height: 80%;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        height: 50%;
        width: 50%;
        fill: white;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.bg-1-gradient {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #383d58 0,
    rgba(56, 61, 88, 0) 100%
  );
  transform: translateY(-50%);
  opacity: 0.3;
  width: 900px;
  height: 600px;
  z-index: 10;
  top: 50%;
  left: -450px;
  position: absolute;
  pointer-events: none;
}

.bg-2-icon {
  position: absolute;
  z-index: 0;
  top: 15%;
  right: 20px;
  pointer-events: none;
  opacity: 0.3;
  transform: scale(3);
}
