<section class="gallery-container">
  <h1 class="title">Gallery</h1>
  <div
    *ngIf="images() && images().length > 0"
    class="images-container"
    [class.extra-padding]="hideButton()"
  >
    <div *ngFor="let image of images(); let index = index" key="index">
      <img
        width="240px"
        height="240px"
        [src]="image.thumbnailImageSrc"
        [alt]="image.alt"
        style="cursor: pointer"
        (click)="imageClick(index)"
      />
    </div>
  </div>
  <p-galleria
    [value]="images()"
    [(visible)]="displayCustom"
    [(activeIndex)]="activeIndex"
    [responsiveOptions]="responsiveOptions"
    [containerStyle]="{ 'max-width': '850px' }"
    [numVisible]="7"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
  >
    <ng-template #item let-item>
      <img [src]="item.itemImageSrc" style="width: 100%; display: block" />
    </ng-template>
  </p-galleria>

  <app-primary-btn
    *ngIf="!hideButton()"
    class="show-more-button"
    [label]="'Show More'"
    (click)="showMore()"
  />
</section>
