@if (images()?.length) {
  <section class="p-4">
    <div class="gallery-container">
      @if (isMobile()) {
        <h2 class="mobile-title">Gallery</h2>
        <div class="carousel">
          <p-carousel [value]="images()" [numVisible]="1" [numScroll]="1">
            <ng-template let-item #item>
              <img [src]="item.urls.medium" style="display: block" />
            </ng-template>
          </p-carousel>
        </div>

      } @else {
        <h2 class="title">Gallery</h2>
        <div class="images-container">
          @for (image of images(); track image.id) {
            <div class="single-image-wrapper" @fadeInScale>
              <img
                [src]="image.urls.medium"
                [alt]="image.title"
                class="cursor-pointer"
                (click)="imageClick($index)"
              />
            </div>
          }
        </div>
        <p-galleria
          [value]="images()"
          [(visible)]="displayCustom"
          [(activeIndex)]="activeIndex"
          [containerStyle]="{
            'max-width': '800px',
            'max-height': '80vh'
          }"
          [fullScreen]="true"
          [showItemNavigators]="true"
          [showThumbnails]="false"
        >
          <ng-template #item let-item>
            <img
              class="pop-up"
              [src]="item.urls.full"
            />
          </ng-template>
        </p-galleria>

        @if (showBtn()) {
          <app-primary-btn
            class="show-more-button"
            [label]="allShown() ? 'Show less' : 'Show more'"
            (click)="toggleShowMore()"
          />
        }
      }
    </div>

  </section>
}
