<div class="card">
  @if (plan().badge) {
    <div class="badge">{{plan().badge}}</div>
  }
  <div class="title">{{plan().title}}</div>
  <div class="price">
    <span class="amount">${{plan().price | number:'1.2-2'}}</span>
  </div>
  <p class="description">{{plan().description}}</p>
  <app-primary-btn [label]="'Sign Up with ' + plan().title" />
  <div class="feature-title">
    <p-divider />
    <span>FEATURES</span>
    <p-divider />
  </div>
  <ul class="features-list">
    @for (feature of plan().features; track feature) {
      <li>
        <i class="pi pi-check"></i>
        <span>{{feature}}</span>
      </li>
    }
  </ul>
</div>
